<div class="container">

    <h3 style="margin-bottom: 10px;">Host a Game</h3>

    <form [formGroup]="hostForm" (submit)="processHostGame()">
        <div class="banner">
            Select number of teams:
        </div>

        <div class="buttons-holder">
            <mat-button-toggle-group formControlName="numOfTeams">
                <mat-button-toggle value="1" class="teams-button">1</mat-button-toggle>
                <mat-button-toggle value="2" class="teams-button">2</mat-button-toggle>
                <mat-button-toggle value="3" class="teams-button">3</mat-button-toggle>
                <mat-button-toggle value="4" class="teams-button">4</mat-button-toggle>
            </mat-button-toggle-group>    
        </div>

        <div class="banner">
            Select game:
        </div>

        <div class="game-selection-area">
            <mat-button-toggle-group formControlName="game" [hideSingleSelectionIndicator]="true">

                <mat-button-toggle *ngFor="let game of gameList"  [value]="game.gameId" class="game-button">
                    <mat-card class="game-card">
                        <img mat-card-image [src]="game.pictureUrl" [alt]="game.gameTitle">
                        <mat-card-actions>
                            <p>{{game.gameTitle}}</p>
                        </mat-card-actions>
                    </mat-card>
                </mat-button-toggle>

            </mat-button-toggle-group>
        </div>

        <div class="banner">
            <button type="submit" mat-flat-button color="primary" [disabled]="hostForm.invalid" style="padding: 10px;">Host Game!</button>
        </div>

    </form>
</div>