* {
    margin: 0;
    padding: 0;
}

body, html {
    max-width: 100%;
    min-width: 100%;
}

.container {
    margin-top: 10px;
    flex-flow: row wrap;
    max-width: 100%;
    min-width: 100%;
    align-content: center;
    text-align: center;
}

.banner {
    padding: 10px;
    font-size: larger;
    font-weight: 300;
}

.game-selection-area {
    border: none;
    flex-flow: row wrap;
    justify-content: center;
}

/* teams buttons */

.buttons-holder {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.teams-button {
    width: 100px;
}

/* game cards */

.game-button {
    display: inline flex;
    max-width: 220px;
    margin: 5px;
    border-radius: 20px;
}

.game-card {
    display: inline flex;
    margin: 5px;
    max-width: 300px;
    border-radius: 20px;
}

img {
    height: 100%;
    width: 100%;
    min-height: 180px;
    min-width: 180px;
}

p {
    text-wrap: wrap;
    line-height: 1em;
    width: 100%;
    text-align: center;
}

/* select game card */

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    background-color: rgba(136, 108, 228, 0.6);
}

.game-selection-area .mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard + .mat-button-toggle-appearance-standard,
.game-selection-area .mat-button-toggle-group {
    border: 0;
}