* {
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
}

/* layer 1 */

.container {
    display: flex;
    height: 100%;
    min-height: 90vh;
    max-height: 90vh;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;

    /* align-content: stretch;
    align-items: stretch; */
}

/* layer 2 */

.qr {
    flex: 1;
    text-align: center;
}

.teams {
    /* display: flex; */
    flex: 2;
    flex-flow: row wrap;
    /* align-content: stretch; */
    padding: 10px;
    box-shadow: var(--mdc-fab-container-elevation-shadow);

    /* min-height: 90vh; */
    /* width: 50vw; */
    max-width: 50%;
    /* min-width: 50%; */
    text-align: center;

    background-color: #a999de;
    background-image: linear-gradient(#b6abd7, #a28fde);
}

/* layer 3 */

.qr-components {
    margin: 20px;
}

img {
    height: 100%;
    width: 100%;
    min-width: 100px;
}

.team-label {
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: var(--mdc-fab-container-elevation-shadow);
    border-radius: 20px;
    background-color: #dde5e3;
    color: #6a5d96;
}

.team-box {
    height: 40%;
    flex-flow: row wrap;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.player-label {
    display: flex inline;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: var(--mdc-fab-container-elevation-shadow);
    background-color: #8979c3;
    color: #dde5e3;
}

.player-label:hover {
    background-color: #66569e;
    cursor: pointer;
}

/* scrollbar styles */

.team-box::-webkit-scrollbar {
    width: 10px;
}

.team-box::-webkit-scrollbar-track {
    background: none;
}

.team-box::-webkit-scrollbar-thumb {
    background: #8979c3;
    border-radius: 6px;
}

.team-box::-webkit-scrollbar-thumb:hover {
    background: #909393;
}

