* {
    margin: 0;
    padding: 0;
}

/* layer 1 */

.container {
    display: flex;
    height: 100%;
    min-height: 90vh;
    max-height: 90vh;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;
    overflow-y: clip;
    text-align: center;

}

/* layer 2 */

.qr {
    flex: 1;
}

.teams {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 10px;
    box-shadow: var(--mdc-fab-container-elevation-shadow);
    background-color: #a999de;
    background-image: linear-gradient(#b6abd7, #a28fde);
}

/* layer 3 */

.qr-components {
    margin: 20px;
}

img {
    height: 100%;
    width: 100%;
    min-width: 100px;
}

.team-label {
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: var(--mdc-fab-container-elevation-shadow);
    border-radius: 20px;
    background-color: #dde5e3;
    color: #6a5d96;
}

.players-box {
    flex: 1;
    min-height: 43%;
    overflow-y: auto;
    margin-bottom: 10px;
}

.player-label {
    display: flex inline;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: var(--mdc-fab-container-elevation-shadow);
    background-color: #8979c3;
    color: #dde5e3;
}

.player-label:hover {
    background-color: #66569e;
    cursor: pointer;
}

/* scrollbar styles */

.players-box::-webkit-scrollbar {
    width: 10px;
}

.players-box::-webkit-scrollbar-track {
    background: none;
}

.players-box::-webkit-scrollbar-thumb {
    background: #8979c3;
    border-radius: 6px;
}

.players-box::-webkit-scrollbar-thumb:hover {
    background: #909393;
}

