.container {
    align-items: center;
    text-align: center;
}

.form-button {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

span {
    color: grey;
}

.file-name {
    margin-left: 1rem;
}