<div class="container">
    
    <div class="info">
        info
    </div>

    <div class="game-area">

        <div class="game-instance">
            <div class="game-display">
                gamescreen A
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>
        
        <div class="game-instance">
            <div class="game-display">
                gamescreen B
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>

        <div class="game-instance">
            <div class="game-display">
                gamescreen C
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>

        <div class="game-instance">
            <div class="game-display">
                gamescreen D
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>

    </div>
</div>