<div class="container">
    
    <div id="end-game">
        <button mat-fab extended color="secondary" (click)="endGame()">
            <mat-icon>cancel</mat-icon>
            End Game
            <div>
                Room ID: {{game.hostId}}
            </div>
        </button>
    </div>

    <div class="game-area">

        <div class="game-instance" *ngIf="this.game.numOfTeams == 1" style="height: 100%; max-width: 100%;">
            <div class="team-label">
                <button style="all: unset;">Team A</button>
            </div>
            <div class="game-display">
                <app-game-screen></app-game-screen>
            </div>
            <div class="chat-box">
                <div *ngIf="messagesA$ | async as messagesA">
                    <app-chatbox [chats]="messagesA"></app-chatbox>
                </div>
            </div>
        </div>

        <div class="game-instance" *ngIf="this.game.numOfTeams > 1">
            <div class="team-label">
                <button style="all: unset;">Team A</button>
            </div>
            <div class="game-display">
                <app-game-screen></app-game-screen>
            </div>
            <div class="chat-box">
                <div *ngIf="messagesA$ | async as messagesA">
                    <app-chatbox [chats]="messagesA"></app-chatbox>
                </div>
            </div>
        </div>
        
        <div class="game-instance" *ngIf="this.game.numOfTeams > 1">
            <div class="team-label">
                <button style="all: unset;">Team B</button>
            </div>
            <div class="game-display">
                 <app-game-screen-b></app-game-screen-b>
            </div>
            <div class="chat-box">
                <div *ngIf="messagesB$ | async as messagesB">
                    <app-chatbox [chats]="messagesB"></app-chatbox>
                </div>
            </div>
        </div>

        <div class="game-instance" *ngIf="this.game.numOfTeams > 2">
            <div class="team-label">
                <button style="all: unset;">Team C</button>
            </div>
            <div class="game-display">
                <app-game-screen-c></app-game-screen-c>
            </div>
            <div class="chat-box">
                <div *ngIf="messagesC$ | async as messagesC">
                    <app-chatbox [chats]="messagesC"></app-chatbox>
                </div>
            </div>
        </div>

        <div class="game-instance" *ngIf="this.game.numOfTeams > 3">
            <div class="team-label">
                <button style="all: unset;">Team D</button>
            </div>
            <div class="game-display">
                <app-game-screen-d></app-game-screen-d>
            </div>
            <div class="chat-box">
                <div *ngIf="messagesD$ | async as messagesD">
                    <app-chatbox [chats]="messagesD"></app-chatbox>
                </div>
            </div>
        </div>

    </div>
</div>