* {
    margin: 0;
    padding: 0;
}

#end-game {
    position: absolute;
    top: 3vh;
    left: 30px;
}

/* layer 1 */

.container {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* layer 2 */

/* .info {
    display: flex;
    height: 10vh;
    max-height: 8%;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;

    background-color: #e0e0e0;
    justify-content: center;
    align-items: center;
} */

.game-area {
    display: flex;
    flex-flow: row wrap;
    height: 90vh;
    width: 100vw;
    align-items: center; /* vertically align child elements */
    justify-content: center; /* horizontally align child elements */
    background-color: #282c34;
}

/* layer 3 */

.game-instance {
    display: inline-flex;
    flex: 1;
    height: 50%;
    min-width: 50%;
    max-width: 50%;
    /* border: 1px grey solid; */
}

.game-display {
    display: flex;
    flex: 1;
    align-items: stretch;
    padding: 7px;
    padding-right: 0;
}

.chat-box {
    display: flex;
    flex: 1;
    margin: 7px;
    margin-left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 20px;
    padding-top: 15px;
    overflow-y: auto;

    background-color: rgba(136, 108, 228, 0.3);

    /* background-color: #282c34; */
    color: #f0f0f0;
    /* background-color: #f0f0f0; */
    font-size: 150%;
    /* justify-content: center;
    align-items: center; */

}

/* layer 4 */

.team-label {
    position: absolute;
    z-index: 10;
    background-color: rgba(136, 108, 228, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* scrollbar styles */

.chat-box::-webkit-scrollbar {
    width: 10px;
}

.chat-box::-webkit-scrollbar-track {
    background: none;
}

.chat-box::-webkit-scrollbar-thumb {
    background: #8979c3;
    border-radius: 6px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background: #909393;
}

