<div class="container">
    
    <!-- <div class="info">
        <button (click)="back()">Back</button>
        info
    </div> -->

    <div class="game-area">

        <div class="game-instance">
            <div class="game-display">
                <!-- gamescreen A -->
                <app-game-screen></app-game-screen>
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>
        
        <div class="game-instance">
            <div class="game-display">
                <!-- gamescreen B -->
                 <app-game-screen-b></app-game-screen-b>
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>

        <div class="game-instance">
            <div class="game-display">
                <!-- gamescreen C -->
                <app-game-screen-c></app-game-screen-c>
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>

        <div class="game-instance">
            <div class="game-display">
                <!-- gamescreen D -->
                <app-game-screen-d></app-game-screen-d>
            </div>
            <div class="chat-box">
                chatbox
                <!-- <app-chatbox></app-chatbox> -->
            </div>
        </div>

    </div>
</div>