<div class="container">

    <h3 style="margin-bottom: 10px;">Upgrade Your Membership</h3>

    <form [formGroup]="membershipForm" (submit)="upgradeMembership()">

        <div class="banner">
            Select Membership Tier:
        </div>

        <div class="buttons-area">
            <mat-button-toggle-group formControlName="tier" [hideSingleSelectionIndicator]="true">

                <mat-button-toggle *ngFor="let tier of tiers"  [value]="tier" class="membership-button">
                    <mat-card class="membership-card">
                        <mat-card-header>
                            <div class="header-container">
                                <mat-card-title style="font-size: xx-large; margin-bottom: 15px;">{{tier.name}}</mat-card-title>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="img-container">
                                <img [src]="'/assets/membership-tiers/'+tier?.name?.toLowerCase()+'.png'" [alt]="tier?.name?.toLowerCase()">
                            </div>
                            <p><span style="color: lightgrey;">►</span> {{tier.monthlyGames}} games / month</p>
                            <p><span style="color: lightgrey;">►</span> {{tier.maxRoms}} max ROMs</p>
                        </mat-card-content>
                        <mat-card-footer style="margin-top: 10px; margin-bottom: 10px;">
                            <mat-card-title style="font-size: x-large;">S${{tier.price}}</mat-card-title>
                        </mat-card-footer>
                        
                    </mat-card>
                </mat-button-toggle>

            </mat-button-toggle-group>
        </div>

        <div class="banner">
            <button type="submit" mat-flat-button color="primary" [disabled]="membershipForm.invalid" style="padding: 10px;">Upgrade Membership</button>
        </div>

    </form>
</div>