* {
    margin: 0;
    padding: 0;
}

body, html {
    max-width: 100%;
    min-width: 100%;
}

.container {
    margin-top: 10px;
    flex-flow: row wrap;
    max-width: 100%;
    min-width: 100%;
    align-content: center;
    text-align: center;
}

.banner {
    padding: 10px;
    font-size: larger;
    font-weight: 300;
}

/* membership cards */

.membership-button,
.membership-card {
    margin: 5px;
    max-width: 300px;
    border-radius: 20px;
}

.header-container {
    width: 100%;
}

.img-container {
    width: 200px;
    height: 160px;
    align-content: center;
}

img {
    max-width: 150px;
    max-height: 150px;
}

p {
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    margin-top: 10px;
}



/* select membership card */

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    background-color: rgba(136, 108, 228, 0.6);
}

.buttons-area .mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard + .mat-button-toggle-appearance-standard,
.buttons-area .mat-button-toggle-group {
    border: 0;
}