* {
    margin: 0;
    padding: 0;
}

body, html {
    max-width: 100%;
    min-width: 100%;
}

.container {
    margin-top: 10px;
    flex-flow: row wrap;
    max-width: 100%;
    min-width: 100%;
    align-content: center;
    text-align: center;
}

img {
    max-height: 300px;
    max-width: 400px;
}

.gleam-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.gleam-container img {
    display: block;
}

.gleam-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    transform: skewX(45deg);
    animation: gleam 2s infinite;
    filter: blur(30px); 
}

@keyframes gleam {
    0% {
        left: -130%;
    }
    100% {
        left: 130%;
    }
}
