<div *ngIf="isValid" class="container">
    <h5 style="margin: 20px;">Reset Your Password</h5>

    <form [formGroup]="resetForm" (submit)="processReset()">
        <div>
            <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="clickEvent($event, 1)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    
            <mat-error *ngIf="resetForm.get('password')?.hasError('passwordReused')">Same as old password. Please choose another</mat-error>
            <mat-error *ngIf="resetForm.get('password')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')">Password should be at least 8 characters</mat-error>
            <mat-error *ngIf="resetForm.get('password')?.hasError('maxlength')">Password should be at most 32 characters</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
            <mat-label>Confirm New Password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="passwordConfirm">
            <button mat-icon-button matSuffix (click)="clickEvent($event, 2)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    
            <mat-error *ngIf="resetForm.get('passwordConfirm')?.hasError('passwordNotMatch')">Password does not match</mat-error>
            <mat-error *ngIf="resetForm.get('passwordConfirm')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="resetForm.get('passwordConfirm')?.hasError('minlength')">Password should be at least 8 characters</mat-error>
            <mat-error *ngIf="resetForm.get('passwordConfirm')?.hasError('maxlength')">Password should be at most 32 characters</mat-error>
            </mat-form-field>
        </div>

        <button mat-flat-button color="primary" type="submit" class="form-button">Reset Password</button>
    </form>
</div>

<!-- invalid reset link -->
<div *ngIf="!isValid" class="container">
    <h4 style="margin-top: 10px;">Invalid link</h4>
    <div>
        <img src="/assets/broken-link.png">
    </div>
    <div>
        <a [routerLink]="['/login']">Back to login</a>
    </div>
</div>