<div id="navbar">
    <h1>
      <a [routerLink]="['/']" class="unstyled-link">{{ title }}</a>
    </h1>
    <button id="login" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</button>
      <button mat-menu-item [routerLink]="['/reset']" *ngIf="!isLoggedIn">Forgot Password</button>
      <button mat-menu-item [routerLink]="['/register']" *ngIf="!isLoggedIn">Register Account</button>
      <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn">Logout</button>
    </mat-menu>
  </div>
  
  <div id="main-window">
    <router-outlet></router-outlet>
  </div>
  